body, table { font-family: Verdana, sans-serif; font-size: 10pt; }

.head
{
	font-weight: bold;
	font-size: 11pt;

	border-right: 1px solid;
	-moz-border-radius: 10px 10px 0px 0px;
	padding: 5px;
	margin-bottom: 0px;
}

.body
{
	margin-top: 0px;
}

.item
{
	margin-top: 0px;
	padding: 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-bottom: 1px solid;
	border-right: 1px solid;
}

.package { font-size: large; font-weight: bold; border-bottom: 1px solid #000; }

.yellow .head { background-color: #FFB; border-color: #FF8; }
.yellow .body { background-color: #FFC; border-color: #CCB; }
.yellow .item { border-color: #DDC; }

.blue .head { background-color: #DDF; border-color: #CCD; }
.blue .body { background-color: #EEF; border-color: #CCD; }
.blue .item { border-color: #CCD; }

.green .head { background-color: #DFD; border-color: #CDC; }
.green .body { background-color: #EFE; border-color: #CDC; }
.green .item { border-color: #CDC; }

.red .head { background-color: #FDD; border-color: #DCC; }
.red .body { background-color: #FEE; border-color: #DCC; }
.red .item { border-color: #DCC; }