body, table { font-family: Verdana; font-size: 8pt; }
td { margin: 0px; }

img { border: 0px; }

th { text-align: left; }

.box_title
{
	padding: 10px;
	background-color: #DDD;
	-moz-border-radius: 10px 10px 0px 0px;
	margin-bottom: 0;
	font-weight: bold;
}

.box_body
{
	margin-top: 0;
	padding: 10px;
	background-color: #EEE;
	-moz-border-radius: 0px 0px 10px 10px;

}

.box_row_even
{
	font-size: 13px;
	background-color: #D0D0D0;
}

.box_row_odd
{
	background-color: #E0E0E0;
}

.box_main
{
	font-size: 13px;
	color: #000000;
}

.tab_active { background-color: #E0E0E0; }
.tab_inactive { background-color: #D0D0D0; }

.error { color: #F00; }